@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

#news, #contact, #about{
  display: none;
  margin-top: 4vw;
  }
#title, #titlep{
  font-size: 4vw;
  display: block;
}
body{font-size: 3vw;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(255, 200, 0);
  text-align: center;

  }
h3{font-size: 4vm;}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }


